
.navegacao > li:hover, .publicacao li:hover{
    background-color: rgba(15,25,20,0.1);/*cor do hovr*/
    width: max-content; /* tamanho da bordinha*/
    border-radius: 10px; /*redondinho*/
}


a {
    color: rgb(15,20,25);/*cor da letra*/
}

a {
    text-decoration:none;/*sem sublinhadoi*/
}

li {
    list-style-type: none; /*tira o pontinho q fica*/
}

ul {
    padding-left: 0px;  /*encosta no canto esquerdo da tela*/
}

.estatistica span, .estatistica {
    color: rgb(83,100,113);
}
.sublinhado:hover {
    text-decoration:underline;    
}

.acao a{
    color:rgb(83, 100, 113);
}
.acao [href*="Reply"] > i:hover, .acao [href*="Share"] > i:hover {
    background-color: rgba(29, 155,240,0.1);
}
.acao [href*="Reply"]:hover, .acao [href*="Share"]:hover{
    color: rgba(29, 155,240,1);
}
.acao [href*="Retzeet"] > i:hover {
    background-color: rgba(0, 186,124,0.1);
}
.acao [href*="Retzeet"]:hover{
    color: rgba(0, 186, 124, 1);
}
.acao [href*="Like"] >i:hover {
    background-color: rgba(249, 24, 128, 0.1);
}
.acao [href*="Like"]:hover{
    color: rgba(249, 24, 128, 1);
}
.tzeet:hover{
    background-color:rgba(249, 24, 128, 0.1);
}

.local {
    display:flex;

}

.local li{
    padding-right:10px;
}
.publicacao button{
    color: rgb(15,20,25);
}

.ana {

}
.coluna{
    position: relative;
    top: 60px;
    left: 50px;
}
.bg-sugest{
    background-color: rgb(239,243,244);
}
.text-central{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

